<div class="col-md-3">{{ form.datum.errors }}
    <label class="form-label">{{ form.datum.label_tag }}</label>
    {{ form.datum }}</div>
<div class="col-md-3">{{ form.ceg.errors }}
    <label class="form-label">{{ form.ceg.label_tag }}</label>
    {{ form.ceg }}</div>
<div class="col-md-3">{{ form.kezd.errors }}
    <label class="form-label">{{ form.kezd.label_tag }}</label>
    {{ form.kezd }}</div>
<div class="col-md-3">{{ form.HM.errors }}
    <label class="form-label">{{ form.HM.label_tag }}</label>
    {{ form.HM }}</div>
<div class="row my-1">
    <div class="col-12">{{ form.hely.errors }}
        {{ form.hely.label_tag }}
        {{ form.hely }}</div>
</div>
<div class="row my-1">
    <div class="col-md-6">{{ form.helykod.errors }}
        {{ form.helykod.label_tag }}
        {{ form.helykod }}</div>
    <div class="col-md-6">{{ form.tev.errors }}
        {{ form.tev.label_tag }}
        {{ form.tev }}</div>
</div>

<div class="row my-1">
    <div class="col-12">{{ form.musor.errors }}
        {{ form.musor.label_tag }}
        {{ form.musor }}</div>
</div>
<div class="row my-1">
    <div class="col-6">{{ form.honv.errors }}
        {{ form.honv.label_tag }}
        {{ form.honv }}</div>
    <div class="col-6">{{ form.kulsos.errors }}
        {{ form.kulsos.label_tag }}
        {{ form.kulsos }}</div>
</div>
<div class="row my-1">
    <div class="col-12">{{ form.megjegyzes.errors }}
        {{ form.megjegyzes.label_tag }}
        {{ form.megjegyzes }}</div>
</div>
<div class="row my-1">
    <div class="col-12">{{ form.kontakt.errors }}
        {{ form.kontakt.label_tag }}
        {{ form.kontakt }}</div>
</div>
<div class="row my-1">
    <div class="col-4">{{ form.muszak.errors }}
        {{ form.muszak.label_tag }}
        {{ form.muszak }}</div>
    <div class="col-4">{{ form.jelmezt.errors }}
        {{ form.jelmezt.label_tag }}
        {{ form.jelmezt }}</div>
    <div class="col-4">{{ form.szallitas.errors }}
        {{ form.szallitas.label_tag }}
        {{ form.szallitas }}</div>
</div>
<div class="row my-1">
    <div class="col-4">{{ form.kiallas.errors }}
        {{ form.kiallas.label_tag }}
        {{ form.kiallas }}</div>
    <div class="col-4">{{ form.felelos.errors }}
        {{ form.felelos.label_tag }}
        {{ form.felelos }}</div>
    <div class="col-4">{{ form.alkjell.errors }}
        {{ form.alkjell.label_tag }}
        {{ form.alkjell }}</div>
</div>
<div class="row my-1">
    <div class="col-6">{{ form.bevitel_time.errors }}
        {{ form.bevitel_time.label_tag }}
        {{ form.bevitel_time }}</div>
    <div class="col-6">{{ form.slug.errors }}
        {{ form.slug.label_tag }}
        {{ form.slug }}</div>
</div>
