{% load bootstrap_icons %}
<nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <span>{% bs_icon 'globe' %}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">{% bs_icon 'folder' %}</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Kezdőlap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mindenki">Minden esemény listázása</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Évek</a>
                    <ul class="dropdown-menu">
                        {% for i in evek %}
                        <li><a class="dropdown-item" href="/first/{{ i.datum.year }}"> {{ i.datum.year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">{{ hol }}</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Keresés" aria-label="Keresés">
                <button class="btn btn-outline-success" type="submit">Keresés</button>
            </form>
        </div>
    </div>
</nav>
