{% extends "master.html" %}

{% block title %}
Minden előadás listázása
{% endblock %}

{% block content %}
<h2>Minden esemény. Összesen: {{ esetszam }} db.</h3>

<ul>
    <div class="fs-4 row text-light" style="background-color: #7A795A;">
        <div class="col-1">#</div>
        <div class="col-3">Dátum</div>
        <div class="col-4">Hely</div>
        <div class="col-2">Műsor</div>
    </div>
    {% for x in mindenki %}
    <div class="row row-cols-auto" style="background-color: #FFFEB7;">
        <div class="col-1">{{ forloop.counter }}</div>
        <div class="col-3"><a href="reszletek/{{ x.sorsz }}" class="link-dark"> {{ x.datum }}
        </a></div>
        <div class="col-4">{{ x.hely }}</div>
        <div class="col-2">{{ x.musor }}</div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
